body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
}
.container {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #83d182a3;
}

 .formulario {
    display: none;
    max-width: 450px;
    margin: auto;
    margin-top: 20px;
    border: #000000 2px solid;
    border-radius: 10px;
    background-color: rgb(217, 187, 214);
}

input[type="text"], input[type="email"], input[type="time"] {
    padding: 8px;
    width: 200px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #53d0c4;
    border-radius: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}
input,
select {
  width: 200px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}